<div class="modal">
  <div class="modal-content">
    <h2>Task</h2>
    <form [formGroup]="taskForm">
      <input  type="text" 
        placeholder="Title" 
        formControlName="title" 
        [ngClass]="{'invalid-title':checkTitle()}"/>
      <div *ngIf="checkTitle()" class='alert'>
        <div *ngIf="_title?.hasError('required')">Title is required.</div>
        <div *ngIf="_title?.hasError('pattern')">No more than 4 words</div>
      </div>

      <textarea placeholder="Description" 
        formControlName="description"
        [ngClass]="{'invalid-description':checkDescription()}"></textarea>
      <div *ngIf="checkDescription()" class='alert'>
        No more than 256 characters.
      </div>
      
      <input type="date" formControlName="dueDate"/>
      <div *ngIf="checkDate()" class='alert'>
        Back to the future
      </div>
    </form>
    <div class="modal-actions">
      <button (click)="saveTask()">Save</button>
      <button (click)="close.emit()">Close</button>
    </div>
  </div>
</div>