<div class="modal">
    <div class="modal-content">
      <h2>Task</h2>
      <input 
        type="text" 
        [(ngModel)]="task.title" 
        placeholder="Task Title"
      />
      <textarea 
        [(ngModel)]="task.description" 
        placeholder="Task Description">
      </textarea>
      <input 
        type="date" 
        [(ngModel)]="task.dueDate"
      />
      <div class="modal-actions">
        <button (click)="saveTask()">Save</button>
        <button (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>