<div class="task-list">
    <header class="task-list-header">
      <button class="add-button" (click)="openModal()">Add task</button>
      <div class="filter-buttons">
        <button (click)="setFilter('all')">All</button>
        <button (click)="setFilter('completed')">Completed</button>
        <button (click)="setFilter('incomplete')">Incomplete</button>
      </div>
    </header>
    <main class="tasks">
      <ul>
        <li *ngFor="let task of tasks | filter: filterMode" [ngClass]="{'completed': task.isCompleted}" class="task-item">
            <app-task-item 
                [task]="task"
                (edit)="openModal(task)"
                (delete)="deleteTask(task.id)"
                (toggle)="toggleDecr(task)"
                (complete)="completeTask(task)">
            </app-task-item>
        </li>        
      </ul>
    </main>
    <section *ngIf="selectedTask">
      <app-task-modal
        [task]="selectedTask"
        (close)="closeModal()"
        (save)="saveTask($event)">
      </app-task-modal>
    </section>
  </div>
  