<div class="task-list">
    <header class="task-list-header">
        <button class="add-button" (click)="openModal()">Add task</button>
    </header>
    <main class="tasks">
        <section *ngFor="let task of tasks">
            <app-task-item
                [task]="task"
                (edit)="openModal(task)"
                (delete)="deleteTask(task.id)"
                (toggle)="toggleDecr(task)"
                (complete)="completeTask(task)">
            </app-task-item>
        </section>
    </main>
    <section *ngIf="selectedTask">
        <app-task-modal
            [task]="selectedTask"
            (close)="closeModal()"
            (save)="saveTask()">
        </app-task-modal>
    </section>
</div>