.task-list{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: #202020;
    border-radius: 18px;
    border: .5em solid black;
    box-sizing: border-box;
}

.task-item{
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid black;
    padding: 15px;
}

.task-item.completed{
    background-color: #1a4e3f84; 
    color: rgb(41, 41, 41); 
}

.add-button{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #494949ab;
    border: none;
    border-radius: 14px;    
    transition: background-color .5s ease;
}

.add-button:hover{
    background-color: #511a5f;
}

.tasks{
    border: 1px solid #ddd;
    border-radius: 14px;
    background-color: #cac9c9;
}

.filter-buttons{
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #202020; 
}

.filter-buttons button{
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #494949ab; 
    color: #c0bbbb; 
    transition: background-color .3s ease;
}

.filter-buttons button + button {
    border-left: 1px solid #ddd; 
}

.filter-buttons button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filter-buttons button:hover {
    background-color: #511a5f;
}