.task-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between
}

span{
    cursor: pointer;
    flex-grow: 1;
    font-weight: bold;
}

.task-deadline{
    text-align: center;
    font-size: 14px;
    color: #434343;
}

.date-completed{
    text-align: center;
    font-size: 14px;
    color: #434343;
}

.task-deadline.done{
    text-decoration: line-through;
}

.edit-button, .delete-button {
    margin-right: 5px;
    background: none;
    border: none;
    padding: 5px;
    transition: color .9s ease, transform .3s ease;
    font-weight: 700;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, rgb(2,0,36), rgb(56,9,121), rgb(243,0,255));
}

.edit-button:hover, .delete-button:hover {
    transform: scale(1.1);
    background-image: linear-gradient(45deg, rgb(72, 7, 63), rgb(150, 20, 27), rgb(255, 0, 68));
}

div.task-descr {
    max-height: 0;
    padding-left: 10px;
    padding-right: 10px;
    transition: max-height .5s ease-out;
    overflow: hidden;
    word-break: break-all;
}


div.task-descr.open{
    max-height: 150px;
    transition: max-height.5s ease-out;
}