<section class="task-item">
    <div class = 'task-date'>{{task.dueDate | date: 'dd/MM/yy'}}</div>
    <div class="task-item-header">
        <span (click)="toggle.emit()">{{task.title}}</span>
        <input class='task-status' type="checkbox" [(ngModel)]="task.isCompleted" (click)="complete.emit()"/>
    </div>
    <div *ngIf="task.isShow">{{task.description}}</div>
    <div class="task-action">
        <button class="edit-button" (click)="edit.emit()">EDIT</button>
        <button class="delete-button" (click)="delete.emit()">DELETE</button>
    </div>
</section>