<section class="task-item">
    <div class="task-item-header" (click)="toggle.emit()">
        <span class="'task-title">{{task.title}}</span>
        <span class="'task-date">{{task.dueDate | date: 'dd/mm/yy'}}</span>
    </div>

    @if (task.isShow) {
        <div class="'task-description">{{task.description}}</div>
    }

    <div class="task-action">
        <input type="checkbox" [(ngModel)]="task.isCompleted" (click)="complete.emit()"/>
        <button class="edit-button" (click)="edit.emit()">EDIT</button>
        <button class="delete-button" (click)="delete.emit()">DELETE</button>
    </div>
</section>